@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  background-color: #111;
}

.header__search .ant-input-affix-wrapper:not(:last-child) {
  border-top-left-radius: 16px !important;
  border-bottom-left-radius: 16px !important;
}
.header__search.ant-input-search
  .ant-input-group-addon:last-child
  .ant-input-search-button {
  border-radius: 0 16px 16px 0 !important;
  padding-bottom: 5px !important;
}
.custom__card {
  border-radius: 10px !important;
  border: 1px solid lightgray !important;
  padding: 12px !important;
}

.custom__fees__header .ant-page-header-back {
  display: none;
}
.custom__fees__header {
  padding: 0px !important;
}
